<div class="topbar">
  <div class="home">
    <h1><%= link_to Rails.configuration.application_name, root_path %></h1>
  </div>
  <div class="links">
  <% if @current_user %>
    <%= link_to 'Sign Out', logout_path, class: 'button' %>
  <% else %>
    <%= link_to 'Sign in with GitHub', login_path, class: 'github button' %>
  <% end %>
  </div>
</div>