<div class='home container'>
  <h1><%= Rails.configuration.application_name %></h1>
  <%= image_tag('pylint-example.svg', alt: 'pylint badge') %>
  <p>need a pylint badge?</p>
  <div class='login'>
    <%= link_to 'Sign in with GitHub', login_path, class: 'github button' %>
  </div>
  <div class='footer'>
    <p>
      <%= image_tag 'muzo-labs-logo.png', alt: 'Muzo Labs Logo' %>
    </p>
  </div>
</div>

