<div class='container'>
  <h1><%= Rails.configuration.application_name %></h1>
  <%= image_tag('pylint-example.svg', alt: 'pylint badge') %>
  <p>need a pylint badge?</p>
  <p>~ coming soon ~</p>
  <div class='footer'>
    <p>a muzo labs project</p>
  </div>
</div>

