<!doctype html>
<html>
<head>
  <title>pylint.io</title>
  <meta charset='utf-8'>
  <style>
  html, body {
    background-color: #f3f5e9;
    color: #003300;
    font-size: 20px;
    font-family: monaco, Consolas, 'Lucida Console', monospace;
  }
  .container {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  h1, p {
    text-align: center;
  }
  p {
    margin-top: 2rem;
  }
  .footer {
    margin-top: 4rem;
  }
  </style>
</head>
<body>
  <div class='container'>
    <h1>pylint.io</h1>
    <%= image_tag('pylint-example.svg', alt: 'pylint badge') %>
    <p>need a pylint badge?</p>
    <p>~ coming soon ~</p>
    <div class='footer'>
      <p>a muzo labs project</p>
    </div>
  </div>
</body>
</html>
