#
# This is an example secrets file.
# Copy this to secrets.yml (which is is ignored by git) and edit
# as appropriate.
#
# all secrets for pylint.io are stored here, i.e. database.yml
# references values stored here

# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7f63ee9b374e001197114ec4424f81e3a8eda9b2258a9eea97dc0fdb37b92c6d7bc665ff6ad6880abcaf673099262f1519ccb282e75b3491ca0384b991a7f98f
  database:
    :host: localhost
    :name: pylint_io_development
    :username: pylint_io_development
    :password: some_password_here

test:
  secret_key_base: df2dc53142c12f21df661525eb14911dfa774ea67e07b6458883113d13f8020bb8f2c54a18c87d81db83910d4db8bd64fa63c8edac4b2840d7db03ef6bf91c54
  database:
    :host: localhost
    :name: pylint_io_test
    :username: pylint_io_test
    :password: some_password_here

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

beta:
  secret_key_base: 339c6187c986674e20f6c5a0ea45dec9f4b68d67e0731b6b7fdb00d9f46917b538e0abfce3e1800b30fc1d53cf7682c8d3f6d7edf7680160b5b7292d70ea121b
  database:
    :host: localhost
    :name: pylint_io_beta
    :username: pylint_io_beta
    :password: some_password_here
  
production:
  secret_key_base: fdb7ca858630f902062dc410c50c1be673f69ec127dffa1b4ff73fec61afd15410f2e98bbec1f75bcf16aba22eff5c7234c21d92ce6836cca9eddbb17412bd83
  database:
    :host: localhost
    :name: pylint_io
    :username: pylint_io
    :password: some_password_here