# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 7f63ee9b374e001197114ec4424f81e3a8eda9b2258a9eea97dc0fdb37b92c6d7bc665ff6ad6880abcaf673099262f1519ccb282e75b3491ca0384b991a7f98f

test:
  secret_key_base: df2dc53142c12f21df661525eb14911dfa774ea67e07b6458883113d13f8020bb8f2c54a18c87d81db83910d4db8bd64fa63c8edac4b2840d7db03ef6bf91c54

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
