// Styles for the repositories controller and views.
// Will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.repository {
  display: flex;
  flex-direction: column;
  h2, h3 {
    display: inline;
    margin: 0;
  }
  .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    p {
      width: 100%;
      margin: 1em 0 0 0;
    }
    p.forked {
      font-size: .8em;
      color: #c2b5ad;
      margin: 0;
    }
  }
  .branch:first-of-type {
    border-top: 1px solid #c2b5ad;
  }
  .branch {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid #c2b5ad;
    .info {
      margin-bottom: 1em;
    }
  }
  .module {
    margin: 1em 0 0 2em;
  }
  .module > * {
    vertical-align: middle;
  }
  table {
    margin-left: 8em;
    table-layout: fixed;
    font-size: .8em;
    color: #360020;
  }
  thead th {
    border-bottom: 1px solid #c2b5ad;
  }
  th, td {
    padding-right: 1em;
    text-align: left;
  }
}

.repositories {
  // override repository settings for when there are several listed on the page
  .repository:first-of-type {
    border-top: 1px solid #c2b5ad;
  }
  .repository {
    border-bottom: 1px solid #c2b5ad;
    padding-top: 1em;
    padding-bottom: 1em;
    .branch {
      margin-left: 2em;
      padding: 1em 0 0 0;
      border: none;
    }
    .modules {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;
      align-items: center;
      margin-left: 2em;
    }
    .module {
      margin: 0 0 .25em 0;
      width: 45%;
      margin-right: 5%;
    }
  }
}

