// Styles for the repositories controller and views.
// Will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.repositories {

  ul {
    display: block;
    list-style-type: none;
    padding: 0;
    border-top: 1px solid #c2b5ad;
  }
  li {
    border-bottom: 1px solid #c2b5ad;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0em;
  }
  p {
    margin: 1em 0 0 0;
  }
}

.repository .forked, .repositories .forked {
  font-size: .8em;
  color: #c2b5ad;
}

.repository {
  display: flex;
  flex-direction: column;
  p {
    margin-left: 2em;
  }
  .branch {
    margin-top: 1em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    .info {
      width: 20%;
    }
  }
  h3 {
    display: inline;
  }
  .modules {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
  }
  .module {
    margin-bottom: .25em;
    width: 45%;
    margin-right: 5%;
  }
  .module > * {
    vertical-align: middle;
  }
}