// Styles for the topbar.
// Will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topbar {
  background-color: #401900;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.topbar p {
  margin: 0;
  padding: 0;
}
.topbar .home {
  margin-left: 2rem;
}
.topbar .home h1 {
  color: #f3f5e9;
  font-size: 1rem;
}
.topbar .home a {
  color: #f3f5e9;
  text-decoration: none;
}
.topbar .links {
  margin-right: 2em;
}

// override button border to match background
.topbar .button {
//  border-top: 1px solid #5e2600;
//  border-right: 1px solid #5e2600;
//  border-bottom: 2px solid #210d00;
//  border-left: 1px solid #5e2600;

  border-top: 1px solid #5e2600;
  border-right: 1px solid #5e2600;
  border-bottom: 2px solid #030100;
  border-left: 1px solid #5e2600;

}